DATABASE_URL="postgresql://${USER}:${PASS}@${HOST}:${PORT}/micro?schema=micro"
SERVER_PORT=3002

APP_NAME=api-key-management-service
SWAGGER_TITLE=API-Key-Management-Service
SWAGGER_DESCRIPTION=API-Key-Management-Service

PROXY_PREFIX=api-key-management-service


AUTH_BASE_URL=http://auth-service:3001/auth-service
AUTH_BEARER_TOKEN=

AUTH_SERVICE_HTTP_TIMEOUT=30000
